<template>
  <div class="wrapper" ref="wrapper">

    <!-- 뮤지컬 타이틀 -->
    <el-row type="flex" justify="center">
      <el-col :span="7">
        <div class="title">
          <img src="../../assets/musicaLlogo2Black.png" class="logo"/>
        </div>
      </el-col>
    </el-row>

    <!-- Toolbar 메뉴 -->
    <header-nav navMode="horizontal" />
    <br/>
    <!-- Contents -->
    <el-row type="flex" justify="center" :gutter="40">
      <el-col :span="5">
        <el-row>
          <div class="hot">
            <span class="hot_em">뮤지컬 입문자용 지식</span>
          </div>
          <div class="grid-content bg-purple">
            <el-table
              :cell-style="cellStyle"
              @row-click="rowClickInfo"
              :header-cell-style="headerStyle"
              :data="newbie"
              style="width: 100%">
              <el-table-column
                label="">
                <template slot-scope="scope">
                  <div class="newbie">
                    {{ scope.row.info }}
                    <i class="el-icon-question icon" />
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </el-row>
        <el-row>
          <div class="hot">
            <span class="hot_em">티켓 예매 사이트</span>
          </div>
          <div class="grid-content bg-purple">
            <el-table
              :cell-style="cellStyle"
              @row-click="rowClickTicket"
              :header-cell-style="headerStyle"
              :data="ticket"
              style="width: 100%">
              <el-table-column
                label="">
                <template slot-scope="scope">
                  <div class="ticket">
                    <i class="fa fa-link" />
                    <span class="info">{{ scope.row.info }}</span>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </el-row>
      </el-col>
      <el-col :span="5">
        <div class="hot">
          <span class="hot_em">최근 HOT 공연</span>
        </div>
        <el-carousel :interval="5000" arrow="always" indicator-position="none">
          <el-carousel-item v-for="(item, index) in posts" :key="index">
            <router-link :to="'/musicalDetail/theMusic/' + item.id">
              <el-card :body-style="{ padding: '0px' }">
                <img :src="item.img" @error="imgLoadError" class="poster"/>
                <div class="poster_title">
                  <span>{{item.desc.title}}</span>
                </div>
              </el-card>
            </router-link>
          </el-carousel-item>
        </el-carousel>
      </el-col>
      <el-col :span="4">
        <div class="hot">
          <span class="hot_em">뮤지컬 검색 랭킹</span>
        </div>
        <el-table
          v-loading="loadingSearchRank"
          :cell-style="cellStyleRank"
          @row-click="rowClickSearchRank"
          :data="rankPosts"
          stripe
          style="width: 100%"
          class="musical_table">
          <el-table-column
            label="순위"
            width="50">
            <template slot-scope="scope">
              <img :src="scope.row.rankImg" @error="imgLoadError" class="rankImg"/>
            </template>
          </el-table-column>
          <el-table-column
            label="공연">
            <template slot-scope="scope">
              <span class="rank_title">{{scope.row.title}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="변동"
            width="70">
            <template slot-scope="scope">
              <img :src="scope.row.diffImg" @error="imgLoadError" class="diffImg"/>
              <span>{{scope.row.diff}}</span>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
      <el-col :span="7">
        <div class="hot">
          <span class="hot_em">뮤지컬 예매 랭킹</span>
        </div>
        <el-table
          v-loading="loadingSearchRank"
          :cell-style="cellStyleRank"
          :data="rankPostsBook"
          stripe
          style="width: 100%"
          class="musical_table">
          <el-table-column
            label="순위"
            width="50">
            <template slot-scope="scope">
              <img :src="scope.row.rankImg" @error="imgLoadError" class="rankImg"/>
            </template>
          </el-table-column>
          <el-table-column
            label="공연">
            <template slot-scope="scope">
              <span class="rank_title">{{scope.row.title}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="판매율"
            width="70">
            <template slot-scope="scope">
              <span>{{scope.row.sellRate}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="변동"
            width="50">
            <template slot-scope="scope">
              <img :src="scope.row.diffImg" @error="imgLoadError" :class="scope.row.diff !== n ? diffImg : newImg"/>
              <span v-if="scope.row.diff !== 'n'">{{scope.row.diff}}</span>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>

    <el-dialog
      :title="newbie[0].info"
      :visible.sync="newbie[0].dialog"
      width="40%">
      <p><b>노래, 춤, 연기가 종합적으로 어우러지는 대중극</b>으로, 대중연극 및 오페라, 오페레타에 그 기원을 두고 있다. </p>
      <p>소재는 <b>코미디, 멜로드라마, 풍자극, 환상극, 문학작품, 희곡 등으로 자유롭고 다양</b>하다.</p>
      <p>
      (극이 시작하기 전에 오케스트라가 연주하는) <b>서곡</b>,<br/>
      (서곡이 끝난 후 연주되는) <b>오프닝 넘버</b>,<br/>
      (앞으로 전개될 극중 상황에 대해 설명해 주며 1막 중후반에 나오는) <b>제시</b>,<br/>
      (하이라이트에 해당되는) <b>프로덕션 넘버</b>,<br/>
      (앞의 선율이 되풀이 또는 변주되는) <b>리프라이즈</b>,<br/>
      (극의 흐름을 잠깐 끊으면서 극을 전환시키는) <b>쇼 스토퍼</b>,<br/>
      (극 주인공들이 부르는) <b>아리아</b>,<br/>
      마지막으로 나오는 <b>커튼콜</b>로 구성되어 있다.
      </p>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="newbie[0].dialog = false">확인</el-button>
      </span>
    </el-dialog>

    <el-dialog
      :title="newbie[1].info"
      :visible.sync="newbie[1].dialog"
      width="40%">
      <p>(1962년 유치진의 주도 하에 공연된 <b>&lt;포기와 베스&gt;</b>를 시초로 볼 수 있으나 본격적인 뮤지컬이라고 보기는 어렵다.)</p>
      <p>1966년에 한국 최초의 뮤지컬이라고 할 수 있는 <b>&lt;살짜기 옵서예&gt;</b>가 공연되었다.</p>
      <p>이후 많은 극단들이 창작 뮤지컬 <b>&lt;시집가는 날&gt;</b>, <b>&lt;아리랑, 아리랑&gt;</b>, <b>&lt;아리송하네요&gt;</b>, <b>&lt;그날이 오면&gt;</b>, <b>&lt;꿈꾸는 철마&gt;</b> 등을 공연하였고,
      <b>&lt;피터 팬&gt;</b>, <b>&lt;지저스 크라이스트 슈퍼스타&gt;</b>, <b>&lt;사운드 오브 뮤직&gt;</b>, <b>&lt;웨스트 사이드 스토리&gt;</b>, <b>&lt;캐츠&gt;</b>, <b>&lt;넌센스&gt;</b>, <b>&lt;코러스 라인&gt;</b>, <b>&lt;레미제라블&gt;</b> 등 브로드웨이 뮤지컬을 공연하였다.</p>
      <p>초기에 저작권의 개념이 확립되지 않아서 해외 라이선스 없이 공연을 하는 경우가 많았으나 저작권 개념의 확립 및 법적 판결로 현재 정식 라이선스 뮤지컬이 주를 이루고 있다.</p>
      <p>한편, 대표적인 창작 뮤지컬로 <b>&lt;명성황후&gt;</b>, <b>&lt;대장금&gt;</b>, <b>&lt;영웅&gt;</b> 등이 있다. 특히 <b>&lt;명성 황후&gt;</b>는 우리나라 최초로 미국 브로드웨이 무대에 진출하기도 했다.</p>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="newbie[1].dialog = false">확인</el-button>
      </span>
    </el-dialog>

    <el-dialog
      :title="newbie[2].info"
      :visible.sync="newbie[2].dialog"
      width="20%">
      <ul class="dialog">
        <li>검증된 작품으로 시작하자</li>
        <li>뮤지컬에 나오는 노래 한곡만 듣고 가자</li>
        <li>뮤지컬 관람시 평소대로 입고가자</li>
        <li>커튼콜 때 박수를 치고 즐기자</li>
        <li>멜로디로 분위기를 캐치하자</li>
        <li>마지막 공연을 놓치지 말자</li>
      </ul>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="newbie[2].dialog = false">확인</el-button>
      </span>
    </el-dialog>

    <el-dialog
      :title="newbie[3].info"
      :visible.sync="newbie[3].dialog"
      width="40%">
      <ul class="dialog no_bullet">
        <li>※ 극마다 특별한 좌석이 있으니 이에 유의하자</li>
        <li class="tip">예) 뮤지컬 ‘캣츠’에서 고양이가 돌아다니는 좌석, 헤드윅의 ‘카워시석’</li>
        <li class="head_li"><span class="header">세종문화회관 대극장</span></li>
        <li> - 경사가 가팔라 시야 확보는 용이.</li>
        <li> - 좌석 뒷면에 모니터 있어 내한 공연시 자막 보기 용이 (편안한 좌석)</li>
        <li class="tip">고소공포증일 경우 피하는 것이 좋음.</li>
        <li class="head_li"><span class="header">예술의 전당 오페라 하우스</span></li>
        <li> - 2층 첫 번째 열은 1층과 동급, 4층일 경우 일부 장면 보이지 않을 수 있음</li>
        <li> - 박스석이 존재</li>
        <li class="head_li"><span class="header">LG 아트센터</span></li>
        <li> - 가장 앞열, 사이드 쪽일 경우 올려다 봐야함</li>
      </ul>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="newbie[3].dialog = false">확인</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import HeaderNav from '../partials/HeaderNav';

export default {
  components: {
    HeaderNav,
  },
  data() {
    return {
      loadingPoster: false,
      loadingSearchRank: false,
      loadingBookRank: false,
      toolbarActive: '1',
      posts: [],
      rankPosts: [],
      rankPostsBook: [],
      newbie: [
        { info: '뮤지컬이란?', index: 1, dialog: false },
        { info: '한국의 뮤지컬', index: 2, dialog: false },
        { info: '뮤지컬 관람 요령', index: 3, dialog: false },
        { info: '좌석 선택 가이드', index: 4, dialog: false },
      ],
      ticket: [
        { info: '인터파크 티켓', link: 'http://ticket.interpark.com/MusicalIndex.asp' },
        { info: '티켓링크', link: 'http://www.ticketlink.co.kr/concert/musical' },
        { info: 'YES24 공연', link: 'http://ticket.yes24.com/Pages/Genre/GenreMain.aspx?Gcode=009_103_002&genre=15457' },
        { info: '티켓몬스터', link: 'http://www.ticketmonster.co.kr/deallist/18170002' },
        { info: '위메프', link: 'http://www.wemakeprice.com/main/980300' },
      ],
      scrap: {
        page: 1,
        order: 'opening',
      },
    };
  },
  computed: {
  },
  watch: {
  },
  methods: {
    ...mapMutations('layout', ['updateCollapse']),
    cellStyleRank() {
      return 'cursor: pointer; height: 53px;';
    },
    cellStyle() {
      return 'cursor: pointer;';
    },
    rowClickBookRank(row) {
      const vm = this;
      const path = 'http://www.playdb.co.kr/gate/PlayGoods_Gate.asp?GoodsCode=' + row.id; // eslint-disable-line
      vm.$router.push(path);
    },
    rowClickSearchRank(row) {
      const vm = this;
      const path = '/musicalDetail/playDB/' + row.id; // eslint-disable-line
      vm.$router.push(path);
    },
    rowClickInfo(row) {
      const vm = this;
      vm.newbie[row.index - 1].dialog = !row.dialog;
    },
    rowClickTicket(row) {
      window.open(row.link);
    },
    headerStyle() {
      return 'display: none;';
    },
    imgLoadError(e) {
      e.target.src = require('../../assets/noImageAvailable.png'); // eslint-disable-line
    },
    getBookRank() {
      const vm = this;
      vm.loadingBookRank = true;
      const baseURI = 'http://www.playdb.co.kr/ranking/Ticket/TPBoxOffice.asp?KindOfGoods=01011&Flag=D';
      vm.$http.get(`${baseURI}`)
      .then((result) => {
        // window.console.log(result);
        vm.html = result.data;
        vm.parseDomBookRank();
        vm.loadingBookRank = false;
      });
    },
    parseDomBookRank() {
      const vm = this;
      const dom = document.createElement('html');
      dom.innerHTML = vm.html;
      /* eslint-disable */
      const isDomExist = dom.querySelectorAll('#contents > div.container1 > table:nth-child(5) > tbody > tr:nth-child(2) > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr:nth-child(2) > td:nth-child(2) > table > tbody > tr');
      const rankDom = isDomExist ? isDomExist : [];
      Array.prototype.slice.call(isDomExist).forEach((tr, index) => {
        if (index % 2 === 0 || index > 19) { return; }
        // window.console.log(index);
        const rank = tr.querySelector('td:nth-child(1)').innerText.split('(')[0].trim();
        const rankNum = Number(rank.split('위')[0]) >= 10 ? rank.split('위')[0] : '0' + rank.split('위')[0];
        const rankImg = 'http://ticketimage.interpark.com/TicketImage/07playdb/r_' + rankNum + '.gif';
        window.console.log(tr.querySelector('td:nth-child(1)').innerText.split('(')[1]);
        const diffInfo = tr.querySelector('td:nth-child(1)').innerText.split('(')[1] !== undefined ? tr.querySelector('td:nth-child(1)').innerText.split('(')[1].split(')')[0].trim() : 'n';
        let diff;
        if (diffInfo === 'n') {
          diff = 'n';
        } else {
          diff = diffInfo.endsWith('-') ? '' : diffInfo.substring(1);
        }
        let diffImg;
        switch(diffInfo.substring(0,1)) {
          default: {
            diff = 'n';
            diffImg = 'http://ticketimage.interpark.com/TicketImage/fun/template/041207a_245_t08.gif';
            break;
          }
          case '▼': {
            diffImg = 'http://ticketimage.interpark.com/TicketImage/07playdb/dm_r_arrow_down.gif';
            break;
          }
          case '-': {
            diffImg = 'http://ticketimage.interpark.com/TicketImage/07playdb/dm_r_arrow.gif';
            break;
          }
          case '▲': {
            diffImg = 'http://ticketimage.interpark.com/TicketImage/07playdb/dm_r_arrow_up.gif';
          }
        }
        // const diffImg = diffInfo.startsWith('▲') ? 'http://ticketimage.interpark.com/TicketImage/07playdb/dm_r_arrow_up.gif' : 'http://ticketimage.interpark.com/TicketImage/07playdb/dm_r_arrow_down.gif';
        const title = tr.querySelector('td:nth-child(2) > table > tbody > tr > td:nth-child(2) > a > b').innerText;
        const id = tr.querySelector('td:nth-child(2) > table > tbody > tr > td:nth-child(2) > a').attributes.href.value.split('\'')[1];
        const sellRate = tr.querySelector('td:nth-child(3) > font').innerText;
        vm.rankPostsBook.push({
          rank,
          rankImg,
          diff,
          diffImg,
          title,
          id,
          sellRate,
        });
      });
    },
    getSearchRank() {
      const vm = this;
      vm.loadingSearchRank = true;
      const baseURI = 'http://www.playdb.co.kr/ranking/TotalRanking.asp';
      vm.$http.get(`${baseURI}`)
      .then((result) => {
        // window.console.log(result);
        vm.html = result.data;
        vm.parseDomSearchRank();
        vm.loadingSearchRank = false;
      });
    },
    parseDomSearchRank() {
      const vm = this;
      const dom = document.createElement('html');
      dom.innerHTML = vm.html;
      /* eslint-disable */
      const isDomExist = dom.querySelectorAll('#contents > div.container1 > table > tbody > tr:nth-child(4) > td > table > tbody > tr > td:nth-child(1) > table > tbody > tr:nth-child(2) > td > table > tbody > tr');
      const rankDom = isDomExist ? isDomExist : [];
      vm.rankPosts = Array.prototype.slice.call(isDomExist).map((tr) => {
        const rankImg = tr.querySelector('td:nth-child(1) > img').attributes.src.value;
        const title = tr.querySelector('td:nth-child(3) > a').innerText;
        const id = tr.querySelector('td:nth-child(3) > a').attributes.href.value.split('=')[1];
        const diffImg = tr.querySelector('td:nth-child(4) > img').attributes.src.value;
        const diff = tr.querySelector('td:nth-child(4)').innerText;
        return {
          rankImg,
          title,
          id,
          diffImg,
          diff,
        }
      }).slice(0, 10)
      // window.console.log(vm.rankPosts);
    },
    getPoster() {
      const vm = this;
      vm.loadingPoster = true;
      const baseURI = 'http://www.themusical.co.kr/Musical/List?page=' // eslint-disable-line
                      + vm.page
                      + '&orderBy='
                      + vm.order;
      vm.$http.get(`${baseURI}`)
      .then((result) => {
        // window.console.log(result);
        vm.html = result.data;
        vm.parseDomTheMusic();
        vm.loadingPoster = false;
      });
    },
    parseDomTheMusic() {
      const vm = this;
      const dom = document.createElement('html');
      dom.innerHTML = vm.html;
      /* eslint-disable */
      const temp = dom.getElementsByClassName('play_list')[0].children;
      vm.posts = [].slice.call(temp).map(el => ({
        img: el.getElementsByClassName('thum_poster')[0].attributes.src.value,
        desc: {
          title: el.getElementsByClassName('playcover')[0].getElementsByTagName('dt')[0].innerText,
        },
        id: el.getElementsByClassName('playcover')[0].attributes.id.value.substring(9),
      }));
      dom.remove();
      /* eslint-enable */
    },
  },
  mounted() {
    const vm = this;
    vm.updateCollapse({ isNavCollapsed: true });
    vm.getPoster();
    vm.getSearchRank();
    vm.getBookRank();
  },
};
</script>

<style lang="scss" scoped>
.el-carousel {
  height: 575px; //580px;
}
.el-carousel__item {
  height: 575px;
}

// .el-carousel__item:nth-child(2n) {
//   background-color: #99a9bf;
// }

.el-carousel__item {
  background-color: #FFF;
}

.grid-content {
  padding: 20px;
  // border-radius: 4px;
  min-height: 100px;
}
.bg-purple {
  background: #FFF;
}

.wrapper {
  margin-bottom: 40px;
  .title {
    background-color: #545c64;
    text-align: center;
    padding: 10px;
  }
  .logo {
    width: auto;
    height: 180px;
  }
  .poster {
    width: 100%;
    height: auto;
  }
  .poster_title {
    text-align: center;
    font-weight: bold;
    padding: 14px;
    color: #545c64;
    font-size: 1.2em;
  }
  a {
    text-decoration: none !important;
  }

  .hot {
    padding: 20px;
    padding-left: 0px;
    .hot_em {
      font-size: 15pt;
      background-color: #545c64;
      color: #FFF;
      padding: 5px 20px;
    }
  }
  .newbie {
    font-size: 1.3em;
    font-weight: bold;
    .icon {
      margin-left: 10px;
    }
  }
  .ticket{
    font-size: 1.3em;
    font-weight: bold;
    .icon {
      margin-left: 10px;
    }
    .info {
      padding-left: 10px;
    }
  }
  .dialog {
    padding-left: 20px;
    li {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    .head_li {
      margin-top: 30px;
    }
    .tip {
      font-size: 0.9em;
      color: #F56C6C;
      padding-left: 20px;
    }
    .header {
      background-color: #545c64;
      color: #FFF;
      padding: 5px 20px;
    }
  }
  .no_bullet {
    list-style-type: none;
  }

  .rankImg {
    height: 15px;
  }
  .rank_title {
    font-size: 1.2em;
  }
  .diffImg {
    // height: 10px;
    width: 12px;
  }
  .newImg {
    width: 22px;
  }
}
</style>