<template>
  <div class="wrapper" ref="wrapper">
    <!-- Contents -->
    <el-row :gutter="10">
      <el-col :offset="4" :span="8">
        <div class="subtitle">
          <span class="subtitle_em">국내 뮤지컬</span>
          <span class="subtitle_desc">국내 뮤지컬 공연 정보</span>
        </div>
      </el-col>
      <el-col :offset="4" :span="4">
        <el-row>
          <el-col>
            <span class="demonstration">사용중인 DB :</span>
            <el-dropdown trigger="click" @command="onClick">
              <span class="el-dropdown-link">
                {{ currentDB }}<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="PLAY_DB">Play DB</el-dropdown-item>
                <el-dropdown-item command="THE_MUSIC">The Music</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </el-col>
        </el-row>
        <el-row>
          <el-col>
            <el-radio-group v-model="currentOrder" @change="orderChange()" class="sort_button">
              <el-radio-button label="opening">개막일 순</el-radio-button>
              <el-radio-button label="like">인기도 순</el-radio-button>
            </el-radio-group>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <hr/><br/>
    <div class="search_menu" v-if="currentDB === 'Play DB'">
      <el-row type="flex" justify="center">
        <el-col :span="1">
          <el-tooltip class="item" effect="dark" content="조건을 선택 후 필터링하여 열람 할 수 있습니다." placement="top-start">
            <i class="el-icon-question filter_title"></i>
          </el-tooltip>
        </el-col>
        <el-col :span="2">
          <el-tooltip class="item" effect="dark" content="연도별 선택" placement="top-start">
            <el-date-picker
              class="date_picker"
              v-model="year"
              type="year"
              placeholder="연도별 선택">
            </el-date-picker>
          </el-tooltip>
        </el-col>
        <el-col :span="3">
          <el-radio
            :disabled="year.getFullYear() !== new Date().getFullYear()"
            class="running"
            v-model="running"
            label="running">
            공연중
          </el-radio>
          <el-radio
            :disabled="year.getFullYear() !== new Date().getFullYear()"
            class="running"
            v-model="running"
            label="scheduled">
            개막 예정
          </el-radio>
        </el-col>
        <el-col :span="2">
          <el-tooltip class="item" effect="dark" content="세부 장르 선택" placement="top-start">
            <el-select v-model="type" placeholder="세부 장르">
              <el-option
                v-for="item in types"
                :key="item"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
          </el-tooltip>
        </el-col>
        <el-col :offset="1" :span="2">
          <el-button class="filter" type="primary" icon="el-icon-search" @click="onClick('FILTER')">Search</el-button>
        </el-col>
      </el-row>
    </div>
    <el-row :gutter="10">
      <el-col :offset="4" :span="15">
        <el-table
          :header-cell-style="headerStyle"
          v-loading="loading"
          :data="posts"
          stripe
          style="width: 100%"
          class="musical_table">
          <el-table-column
            label="포스터"
            width="140">
            <template slot-scope="scope">
              <img :src="scope.row.img" @error="imgLoadError" class="poster"/>
            </template>
          </el-table-column>
          <el-table-column
            label="제목"
            width="200">
            <template slot-scope="scope">
              <span class="table_title">{{scope.row.desc.title}}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="desc.genre"
            label="분류"
            width="100">
          </el-table-column>
          <el-table-column
            label="시작일">
            <template slot-scope="scope">
              <el-button
                :type="isOpened(scope.row.desc.start, scope.row.desc.end) ? 'success' : 'danger'"
                :disabled="!isOpened(scope.row.desc.start, scope.row.desc.end)">
                <i class="el-icon-date"/>
                {{scope.row.desc.start}}
                </el-button>
            </template>
          </el-table-column>
          <el-table-column
            label="종료일">
            <template slot-scope="scope">
              <el-button
                :type="isOpened(scope.row.desc.start, scope.row.desc.end) ? 'success' : 'danger'"
                :disabled="!isOpened(scope.row.desc.start, scope.row.desc.end)">
                <i class="el-icon-date"/>
                {{scope.row.desc.end}}
              </el-button>
            </template>
          </el-table-column>
          <el-table-column
            label="자세히">
            <template slot-scope="scope">
              <el-button type="info" icon="el-icon-search" round @click="onClick('DETAIL', scope.row.id)">
              </el-button>
            </template>
          </el-table-column>
          <el-table-column
            label="예매 정보">
            <template slot-scope="scope">
              <el-button type="success" icon="el-icon-tickets" round @click="onClick('TICKET', scope.row.desc.title)">
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <br/>
    <el-row type="flex" justify="center">
      <el-col :span="paginationLength">
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page="page"
          background
          layout="prev, pager, next"
          :total="maxPage">
        </el-pagination>
      </el-col>
    </el-row>

    <el-dialog :title="'< ' + dialogTitle + ' > 티켓 예매 사이트로 이동'" :visible.sync="dialogTableVisible" width="30%">
      <ticket :title="dialogTitle" />
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex';
import Ticket from '../partials/TicketLink';

export default {
  name: 'KoreanMusical',
  components: {
    Ticket,
  },
  data() {
    return {
      dialogTableVisible: false,
      dialogTitle: '',
      loading: true,
      html: [],
      posts: [],
      maxPage: 1,
      types: [
        '전체',
        '라이선스',
        '오리지널',
        '창작',
        '어린이/가족',
        '뮤지컬',
        '퍼포먼스',
      ],
    };
  },
  computed: {
    ...mapState('search', ['currentDB', 'running']),
    ...mapGetters('search', ['page', 'order']),
    paginationLength() {
      const vm = this;
      switch (true) {
        case vm.maxPage > 70: { return 6; }
        case vm.maxPage > 50: { return 5; }
        case vm.maxPage > 30: { return 4; }
        default: { return 3; }
      }
    },
    type: {
      get() { return this.$store.state.search.type; },
      set(type) {
        this.updateType({ type });
      },
    },
    currentOrder: {
      get() { return this.order; },
      set(order) {
        // window.console.log(val);
        this.updateOrder({ order });
      },
    },
    year: {
      get() {
        return this.$store.state.search.year;
      },
      set(val) {
        // window.console.log(val);
        let year = val;
        const now = new Date().getFullYear();
        if (year.getFullYear() > now) {
          // eslint-disable-next-line
          this.$alert('최대 ' + now + '년 까지 선택할 수 있습니다.', '년도를 다시 선택해주세요', {
            confirmButtonText: '변경',
            callback: () => {
              this.$notify({
                title: '알림',
                message: now + '년으로 자동 변경되었습니다.', // eslint-disable-line
                type: 'success',
              });
            },
          });
          year = new Date();
        } else if (year.getFullYear() < 2007) {
          this.$alert('2007년 이전 자료는 묶어서 처리됩니다.', '', {
            confirmButtonText: '변경',
            callback: () => {
              this.$notify({
                title: '알림',
                message: '2007년으로 자동 변경되었습니다.', // eslint-disable-line
                type: 'success',
              });
            },
          });
          year = new Date(2007, 1, 1);
        }
        this.updateYear({ year });
      },
    },
    running: {
      get() { return this.$store.state.search.running; },
      set(running) {
        this.updateRunning({ running });
      },
    },
  },
  watch: {
  },
  methods: {
    ...mapMutations('search', [
      'updateCurrentDB',
      'updatePage',
      'updateOrder',
      'updateYear',
      'updateRunning',
      'updateType',
    ]),
    ...mapActions('search', ['getOrder']),
    headerStyle() {
      return 'background-color: #545c64; color: #FFF;';
    },
    orderChange() {
      const vm = this;
      vm.updatePage({ page: 1 });
      vm.getTableInfo();
    },
    imgLoadError(e) {
      e.target.src = require('../../assets/noImageAvailable.png'); // eslint-disable-line
    },
    handleCurrentChange(val) {
      const vm = this;
      vm.loading = true;
      vm.updatePage({ page: val });
      vm.getTableInfo();
    },
    onClick(type, id) {
      const vm = this;
      switch (type) {
        default:
        case 'DETAIL': {
          // window.console.log(id);
          let path = '/musicalDetail';
          switch (vm.currentDB) {
            case 'Play DB': {
              path += '/playDB';
              break;
            }
            case 'The Music': {
              path += '/theMusic';
              break;
            }
            default: {
              vm.$router.push('/*');
            }
          }
          vm.$router.push(path + '/' + id); // eslint-disable-line
          break;
        }
        case 'TICKET': {
          vm.dialogTitle = id;
          vm.dialogTableVisible = true;
          break;
        }
        case 'THE_MUSIC': {
          vm.updateCurrentDB({ currentDB: 'The Music' });
          vm.getTableInfo();
          break;
        }
        case 'PLAY_DB': {
          vm.updateCurrentDB({ currentDB: 'Play DB' });
          vm.getTableInfo();
          break;
        }
        case 'FILTER': {
          vm.updatePage({ page: 1 });
          vm.getTableInfo();
          break;
        }
      }
    },
    isOpened(start, end) {
      const date = new Date();
      const dd = date.getDate();
      const mm = date.getMonth() + 1; // January is 0!
      const yyyy = date.getFullYear();
      const today = new Date(yyyy + '-' + mm + '-' + dd); // eslint-disable-line

      if (end === '오픈런') {
        return true;
      }

      const musicalStart = new Date(start);
      const musicalEnd = new Date(end);

      const isAfterStart = (today - musicalStart) + (9 * 60 * 60 * 1000) >= 0;
      const isBeforeEnd = (musicalEnd - today) + (9 * 60 * 60 * 1000) >= 0;

      if (isAfterStart && isBeforeEnd) {
        return true;
      }
      return false;
    },
    getTableInfo() {
      const vm = this;
      vm.loading = true;
      switch (vm.currentDB) {
        default:
        case 'Play DB': {
          let sReqSubCategory;
          switch (vm.type) {
            default:
            case '전체': { sReqSubCategory = ''; break; }
            case '라이선스': { sReqSubCategory = '001001'; break; }
            case '오리지널': { sReqSubCategory = '001002'; break; }
            case '창작': { sReqSubCategory = '001003'; break; }
            case '어린이/가족': { sReqSubCategory = '001004'; break; }
            case '뮤지컬': { sReqSubCategory = '001005'; break; }
            case '퍼포먼스': { sReqSubCategory = '001006'; break; }
          }

          let sPlayType;
          let sStartYear;
          if (vm.year.getFullYear() === new Date().getFullYear()) {
            sPlayType = vm.running === 'running' ? 2 : 3;
            sStartYear = '';
          } else {
            sPlayType = 1;
            sStartYear = vm.year.getFullYear();
          }

          let sReqTab;
          switch (vm.currentOrder) {
            default:
            case 'opening': { sReqTab = 4; break; }
            case 'like': { sReqTab = 2; break; }
          }
          // eslint-disable-next-line
          const baseURI = 'http://www.playdb.co.kr/playdb/playdblist.asp?Page='
                          + vm.page
                          + '&sReqMainCategory=000001&sReqSubCategory='
                          + sReqSubCategory
                          + '&sReqDistrict=&sReqTab='
                          + sReqTab
                          + '&sPlayType='
                          + sPlayType
                          + '&sStartYear='
                          + sStartYear
                          + '&sSelectType=';
          vm.$http.get(`${baseURI}`)
          .then((result) => {
            // window.console.log(result);
            vm.html = result.data;
            vm.parseDomPlayDB();
            vm.loading = false;
          });
          break;
        }
        case 'The Music': {
          const baseURI = 'http://www.themusical.co.kr/Musical/List?page=' // eslint-disable-line
                          + vm.page
                          + '&orderBy='
                          + vm.order;
          vm.$http.get(`${baseURI}`)
          .then((result) => {
            // window.console.log(result);
            vm.html = result.data;
            vm.parseDomTheMusic();
            vm.loading = false;
          });
          break;
        }
      }
    },
    parseDomPlayDB() {
      const vm = this;
      const dom = document.createElement('html');
      dom.innerHTML = vm.html;
      /* eslint-disable */
      let isDomExist = dom.querySelectorAll('#contents > div.container1 > table > tbody > tr:nth-child(11) > td > table > tbody > tr > td > table > tbody > tr > td:nth-child(1) > table > tbody > tr');
      vm.posts = isDomExist ? Array.prototype.slice.call(isDomExist).map(tr => ({
        img: tr.querySelector('td:nth-child(1) > table > tbody > tr > td > div > img').attributes.src.value,
        desc: {
          title: tr.querySelector('td:nth-child(3) > table > tbody > tr:nth-child(1) > td > b > font > a').innerText,
          genre: tr.querySelector('td:nth-child(3) > table > tbody > tr:nth-child(2) > td').innerText.split(':')[1].split('일시')[0].trim(),
          start: tr.querySelector('td:nth-child(3) > table > tbody > tr:nth-child(2) > td').innerText.split(':')[2].split('~')[0].trim().replace(/[.]/g, '-'),
          end: tr.querySelector('td:nth-child(3) > table > tbody > tr:nth-child(2) > td').innerText.split(':')[2].split('~')[1].split('장소')[0].trim().replace(/[.]/g, '-'),
        },
        id: tr.querySelector('td:nth-child(3) > table > tbody > tr:nth-child(1) > td > b > font > a').attributes.onclick.value.split('\'')[1],
      })) : [];
      const maxPageDom = dom.querySelector('#contents > div.container1 > table > tbody > tr:nth-child(11) > td > table > tbody > tr:last-child > td');
      vm.maxPage = maxPageDom ? Number(maxPageDom.innerText.split('[')[1].split('/')[1].split(']')[0]) * 10 : 10;
      /* eslint-enable */
      dom.remove();
    },
    parseDomTheMusic() {
      const vm = this;
      const dom = document.createElement('html');
      dom.innerHTML = vm.html;

      const temp = dom.getElementsByClassName('play_list')[0].children;
      vm.posts = [].slice.call(temp).map(el => ({
        img: el.getElementsByClassName('thum_poster')[0].attributes.src.value,
        desc: {
          title: el.getElementsByClassName('playcover')[0].getElementsByTagName('dt')[0].innerText,
          genre: el.getElementsByClassName('playcover')[0].getElementsByTagName('dd')[0].innerText,
          start: el.getElementsByClassName('playcover')[0].getElementsByTagName('dd')[1].innerText.substring(4),
          end: el.getElementsByClassName('playcover')[0].getElementsByTagName('dd')[2].innerText.substring(4),
        },
        id: el.getElementsByClassName('playcover')[0].attributes.id.value.substring(9),
      }));
      const pager = dom.getElementsByClassName('pager')[0].getElementsByTagName('li');
      vm.maxPage = Number(pager[pager.length - 1].getElementsByTagName('a')[0].attributes.href.value.split('=')[1].split('&')[0]) * 10;
      dom.remove();
    },
  },
  mounted() {
    const vm = this;
    vm.getTableInfo();
  },
};
</script>

<style lang="scss" scoped>
.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.demonstration {
  color: #8492a6;
  font-size: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-left: 60px;
}
.bg-purple {
  background: #DCDFE6;
}

.wrapper {
  width: 100%;
  .subtitle {
    padding: 20px;
  }
  .subtitle_em {
    font-size: 30pt;
    background-color: #545c64;
    color: #FFF;
    padding: 5px 20px;
  }
  .subtitle_desc {
    font-size: 15pt;
    padding-left: 20px;
    vertical-align: middle;
  }

  .sort_button {
    padding-top: 20px;
    padding-left: 53px;
  }

  .musical_table {
    margin: 0px 20px;
  }

  .poster {
    height: 150px;
    width: auto;
  }

  .table_title {
    font-size: 1.2em;
    color: #F56C6C;
    font-weight: bold;
  }

  .search_menu {
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 20px;

    .filter_title {
      font-size: 25px;
      text-align: center;
      padding-top: 7px;
      color: #545c64;
    }
    .date_picker {
      width: 110px;
    }

    .running {
      padding-top: 10px;
    }

    .search_type {
      // .el-dropdown-link {
      //   cursor: pointer;
      //   color: #409EFF;
      // }
      .el-icon-arrow-down {
        font-size: 16px;
        padding-top: 9px;
      }
    }
  }
}
</style>