<template>
  <div class="wrapper" ref="wrapper">
    <!-- Contents -->
    <el-row :gutter="10">
      <el-col :offset="4" :span="10">
        <div class="subtitle">
          <span class="subtitle_em">뮤지컬 DB</span>
          <span class="subtitle_desc">현재 열람중인 뮤지컬의 상세 정보</span>
        </div>
      </el-col>
    </el-row>
    <hr/><br/>
    <el-row :gutter="10">
      <el-col :offset="4" :span="15">
        <div class="musical_main" v-loading="loading">
          <img :src="musicalInfo.img" @error="imgLoadError" class="poster"/>
          <div class="musical_main_desc">
            <ul class="desc_list">
              <li>
                <span class="title">{{musicalInfo.desc.titleKor}}</span>
                <span class="titleEng">{{musicalInfo.desc.title}}</span>
              </li>
              <el-rate
                v-model="musicalInfo.desc.rate"
                disabled
                show-score
                text-color="#ff9900"
                score-template="{value}/5 점"
                class="rate">
              </el-rate>
              <li><span class="label">장르</span>{{musicalInfo.desc.genre}}</li>
              <li><span class="label">장소</span>{{musicalInfo.desc.place}}</li>
              <li><span class="label maker">제작사</span>{{musicalInfo.maker}}</li>
              <li>
                <span class="label date">일시</span>
                <el-button
                  :type="musicalDate.isOpened ? 'success' : 'danger'"
                  :disabled="!musicalDate.isOpened"
                  size="medium">
                  <i class="el-icon-date"/>
                  {{musicalDate.date}}
                </el-button>
                <el-tag v-if="musicalDate.isOpened" type="warning" style="margin-left: 10px;">공연중</el-tag>
              </li>
            </ul>
          </div>
          <el-button type="info" icon="el-icon-tickets" class="ticket" round @click="onClick('TICKET')" :disabled="musicalDate.isEnd">
            티켓 예매하기
          </el-button>
          <el-tooltip v-if="musicalDate.isEnd" class="item" effect="dark" content="뮤지컬 공연이 종료되었습니다." placement="right">
            <i class="el-icon-info" style="margin-left: 10px; color: #545c64;"></i>
          </el-tooltip>
          <br class="clear"/>
          <br/><br/>
          <template>
            <el-tabs class="tap_contents" type="border-card" v-model="activeName">
              <el-tab-pane name="1">
                <span slot="label"><i class="el-icon-document"></i> 시놉시스</span>
                <synopsis :synopsis="musicalInfo.synopsis" />
              </el-tab-pane>
              <el-tab-pane name="2">
                <span slot="label"><i class="fa fa-users"></i> 출연진</span>
                <role-players :players="musicalInfo.playerList"/>
              </el-tab-pane>
              <el-tab-pane name="3">
                <span slot="label"><i class="fa fa-id-badge"></i> 스태프</span>
                <staff :members="musicalInfo.staff" />
              </el-tab-pane>
              <el-tab-pane name="4">
                <span slot="label"><i class="fa fa-music"></i> 수록곡</span>
                <o-s-t :music="musicalInfo.music" />
              </el-tab-pane>
              <el-tab-pane name="5">
                <span slot="label"><i class="fa fa-camera-retro"></i> 사진</span>
                <photo :photos="musicalInfo.photos" />
              </el-tab-pane>
              <el-tab-pane name="6">
                <span slot="label"><i class="fa fa-newspaper-o"></i> 관련 기사</span>
                <articles :articles="musicalInfo.articles" />
              </el-tab-pane>
              <el-tab-pane v-if="fixedMusical" label="특징" name="7">
                <feature :feature="additionalData.feature"/>
              </el-tab-pane>
              <el-tab-pane v-if="fixedMusical" label="트리비아" name="8">
                <trivia :trivia="additionalData.trivia" />
              </el-tab-pane>
              <el-tab-pane v-if="fixedMusical" label="이 한곡만은 꼭!" name="9">
                <v-o-d :lyrics="additionalData.lyrics" :video="additionalData.video" />
              </el-tab-pane>
            </el-tabs>
          </template>
        </div>
      </el-col>
    </el-row>

    <el-dialog :title="'< ' + musicalInfo.desc.titleKor + ' > 티켓 예매 사이트로 이동'" :visible.sync="dialogTableVisible" width="30%">
      <ticket :title="musicalInfo.desc.titleKor" />
    </el-dialog>
  </div>
</template>

<script>
import Synopsis from '../partials/Synopsis';
import RolePlayers from '../partials/RolePlayers';
import Staff from '../partials/Staff';
import OST from '../partials/OST';
import Photo from '../partials/Photo';
import Articles from '../partials/Articles';
import Ticket from '../partials/TicketLink';
import Feature from '../partials/Feature';
import VOD from '../partials/VOD';
import Trivia from '../partials/Trivia';
import FixedMusicalData from '../../assets/data/additionalData.json';

export default {
  name: 'KoreanMusical',
  components: {
    Synopsis,
    RolePlayers,
    Staff,
    OST,
    Photo,
    Articles,
    Ticket,
    Feature,
    VOD,
    Trivia,
  },
  data() {
    return {
      fixedMusical: true,
      dialogTableVisible: false,
      activeName: '1',
      rate: 0,
      loading: true,
      html: [],
      musicalInfo: {
        img: require('../../assets/noImageAvailable.png'), // eslint-disable-line
        desc: {
          title: 'title',
          titleKor: '뮤지컬 제목',
          genre: '장르',
          start: '',
          end: '',
          place: '장소',
        },
        maker: '제작사',
        synopsis: '줄거리',
        music: '수록곡',
        playerList: [],
        staff: [],
        photos: [],
        articles: [],
      },
      additionalData: {
        trivia: '',
        feature: '',
        lyrics: '',
        video: '',
      },
      maxPage: 1,
    };
  },
  computed: {
    musicalDate() {
      const vm = this;
      let date = '미정';
      let isOpened = false;
      if (vm.musicalInfo.desc.start === '' || vm.musicalInfo.desc.end === '') {
        return {
          date,
          isOpened,
          isEnd: true,
        };
      }
      const dateToday = new Date();
      const dd = dateToday.getDate();
      const mm = dateToday.getMonth() + 1; // January is 0!
      const yyyy = dateToday.getFullYear();
      const today = new Date(yyyy + '-' + mm + '-' + dd); // eslint-disable-line

      const musicalStart = new Date(vm.musicalInfo.desc.start);
      const musicalEnd = new Date(vm.musicalInfo.desc.end);

      /* eslint-disable */
      date = '';
      let month = '' + (musicalStart.getMonth() + 1);
      let day = '' + musicalStart.getDate();
      let year = musicalStart.getFullYear();

      if (month.length < 2) month = '0' + month;
      if (day.length < 2) day = '0' + day;

      date += [year, month, day].join('-');

      date += ' ~ ';
      month = '' + (musicalEnd.getMonth() + 1);
      day = '' + musicalEnd.getDate();
      year = musicalEnd.getFullYear();

      if (month.length < 2) month = '0' + month;
      if (day.length < 2) day = '0' + day;

      date += [year, month, day].join('-');
      /* eslint-enable */

      const isAfterStart = (today - musicalStart) + (9 * 60 * 60 * 1000) >= 0;
      const isBeforeEnd = (musicalEnd - today) + (9 * 60 * 60 * 1000) >= 0;

      if (isAfterStart && isBeforeEnd) {
        isOpened = true;
      }

      return {
        date,
        isOpened,
        isEnd: !isBeforeEnd,
      };
    },
  },
  watch: {
    $route(to) {
      const vm = this;
      if (to.path.startsWith('/musicalDetail/')) {
        const path = vm.$route.path.toString();
        const currentFetcingPage = path.split('/')[2];
        const musicalID = path.split('/')[3];

        const indexFixedMusical = currentFetcingPage + '/' + musicalID; // eslint-disable-line
        vm.fixedMusical = FixedMusicalData[indexFixedMusical] !== undefined;
        if (vm.fixedMusical) {
          vm.getAdditionalData(indexFixedMusical, FixedMusicalData[indexFixedMusical].type);
        }
        vm.getMusicalInfo(currentFetcingPage, musicalID);
      }
    },
  },
  methods: {
    getAdditionalData(path, type) {
      const vm = this;
      /* eslint-disable */
      window.console.log(path);
      window.console.log(type);
      const id = path.split('/')[1];
      const filePath = '../../assets/data/' + type + '/' + id;
      const feature = '/feature.txt';
      const lyrics = '/lyrics.txt';
      const trivia = '/trivia.txt';
      vm.additionalData.feature = require(`../../assets/data/${type}/${id}/feature.txt`);
      vm.additionalData.lyrics = require(`../../assets/data/${type}/${id}/lyrics.txt`);
      vm.additionalData.trivia = require(`../../assets/data/${type}/${id}/trivia.txt`);
      vm.additionalData.video = require(`../../assets/data/${type}/${id}/video.mp4`);

      window.console.log(vm.additionalData);
      /* eslint-enable */
    },
    headerStyle() {
      return 'background-color: #545c64; color: #FFF;';
    },
    imgLoadError(e) {
      e.target.src = require('../../assets/noImageAvailable.png'); // eslint-disable-line
    },
    onClick(type) {
      const vm = this;
      switch (type) {
        default:
        case 'TICKET': {
          vm.dialogTableVisible = true;
          break;
        }
      }
    },
    isOpend(start, end) {
      const date = new Date();
      const dd = date.getDate();
      const mm = date.getMonth() + 1; // January is 0!
      const yyyy = date.getFullYear();
      const today = new Date(yyyy + '-' + mm + '-' + dd); // eslint-disable-line

      const musicalStart = new Date(start);
      const musicalEnd = new Date(end);

      const isAfterStart = (today - musicalStart) + (9 * 60 * 60 * 1000) >= 0;
      const isBeforeEnd = (musicalEnd - today) + (9 * 60 * 60 * 1000) >= 0;

      if (isAfterStart && isBeforeEnd) {
        return true;
      }
      return false;
    },
    getMusicalInfo(currentFetcingPage, musicalID) {
      const vm = this;
      vm.loading = true;
      vm.activeName = '1';
      vm.musicalInfo = {
        img: require('../../assets/noImageAvailable.png'), // eslint-disable-line
        desc: {
          title: 'title',
          titleKor: '뮤지컬 제목',
          genre: '장르',
          start: '',
          end: '',
          place: '장소',
        },
        maker: '제작사',
        synopsis: '줄거리',
        music: '수록곡',
        playerList: [],
        staff: [],
        photos: [],
        articles: [],
      };
      switch (currentFetcingPage) {
        default:
        case 'playDB': {
          vm.getPlayDB(musicalID)
          .then(() => {
            vm.loading = false;
          });
          break;
        }
        case 'theMusic': {
          vm.getTheMusic(musicalID)
          .then(() => {
            vm.loading = false;
          });
          break;
        }
      }
    },
    async getTheMusic(musicalID) {
      const vm = this;
      const baseURI = 'http://www.themusical.co.kr/Musical/Detail?num=' + musicalID; // eslint-disable-line
      const result = await vm.$http.get(`${baseURI}`);
      // window.console.log(result);
      vm.html = result.data;
      vm.parseDomTheMusic();
    },
    parseDomTheMusic() {
      const vm = this;
      const dom = document.createElement('html');
      dom.innerHTML = vm.html;
      /* eslint-disable */
      let isDomExist = dom.querySelector('body > section > div > article > section > div.detail_top');
      const img = isDomExist ? isDomExist.querySelector('p > img').attributes.src.value : '';
      const title = isDomExist ? isDomExist.querySelector('div > dl > dt').innerText : '';
      const rate = isDomExist ? isDomExist.querySelector('div > dl > dd.star > div > p.score_star').attributes.style.value.split(':')[1].split('%')[0] : '0';
      const genre = isDomExist ? isDomExist.querySelector('div > dl > dd:nth-child(3)').innerText.substring(2) : '미정';
      const place = isDomExist ? isDomExist.querySelector('div > dl > dd:nth-child(6) > a').innerText : '미정';
      const maker = isDomExist ? isDomExist.querySelector('div > dl > dd:nth-child(8)').innerText.substring(3) : '제작사 정보가 없습니다.';
      const start = isDomExist ? isDomExist.querySelector('div > dl > dd:nth-child(4)').innerText.substring(3) : '';
      const end = isDomExist ? isDomExist.querySelector('div > dl > dd:nth-child(5)').innerText.substring(3) : '';

      isDomExist = dom.querySelectorAll('#showDetail_1 > div > dl');
      const playersDom = isDomExist ? isDomExist : [];
      const playerList = Array.prototype.slice.call(playersDom).map((dl) => {
        const character = dl.querySelector('dt').innerText;
        const players = Array.prototype.slice.call(dl.querySelectorAll('dd')).map((dd) => {
          const img = dd.querySelector('a > div > img.thum_line').attributes.src.value;
          const name = dd.innerText.trim();
          return {
            img,
            name,
          }
        });
        return {
          character,
          players,
        }
      });

      isDomExist = dom.querySelector('#showDetail_2 > div');
      const staffDom = isDomExist ? isDomExist.querySelectorAll('p') : [];
      const staff = Array.prototype.slice.call(staffDom).map((p) => {
        const role = p.innerText.split(':')[0].trim();
        const members = p.innerText.split(':')[1].trim();
        return {
          role,
          members,
        }
      });

      isDomExist = dom.querySelector('#showDetail_3 > div');
      const tempSynopsis = isDomExist ? isDomExist : '줄거리 정보가 없습니다.';
      let synopsis = (tempSynopsis.innerText !== undefined) && (tempSynopsis.innerText.trim()) ? tempSynopsis.innerHTML : '줄거리 정보가 없습니다.';

      isDomExist = dom.querySelector('#showDetail_5 > div');
      const tempMusic = isDomExist ? isDomExist : '수록곡 정보가 없습니다.';
      const music = (tempMusic.innerText !== undefined) && (tempMusic.innerText.trim()) ? tempMusic.innerHTML : '수록곡 정보가 없습니다.';

      isDomExist = dom.querySelectorAll('#showDetail_6 > div > ul > li');
      const articleDom = isDomExist ? isDomExist : [];
      const articles = Array.prototype.slice.call(articleDom).map((li) => {
        const title = li.querySelector('p > a').innerText;
        const link = 'http://www.themusical.co.kr' + li.querySelector('p > a').attributes.href.value;
        const date = li.querySelector('p > span.xi-clock').innerText.split(' ')[1];
        return {
          title,
          link,
          date,
        }
      });

      isDomExist = dom.querySelectorAll('#showDetail_8 > div > dl > dd');
      const photosDom = isDomExist ? isDomExist : [];
      const photos = Array.prototype.slice.call(photosDom).map((dd) => {
        return dd.querySelector('img[src]').attributes.src.value;
      });

      vm.musicalInfo = {
        ...vm.musicalInfo,
        img,
        desc: {
          title: '',
          titleKor: title,
          genre,
          start,
          end,
          place,
          rate: Number(rate) / 20,
        },
        maker,
        playerList,
        staff,
        synopsis,
        music,
        articles,
        photos,
      }
      // window.console.log(vm.musicalInfo);
    },
    async getPlayDB(musicalID) {
      const vm = this;
      let baseURI = 'http://www.playdb.co.kr/playdb/playdbDetail.asp?sReqPlayno=' + musicalID; // eslint-disable-line
      const result = await vm.$http.get(`${baseURI}`);
      // window.console.log(result);
      vm.html = result.data;
      vm.parseDomPlayDB();

      const tapKinds = [2, 3, 4, 5, 6];
      tapKinds.forEach(async (tapNum) => {
        baseURI = 'http://www.playdb.co.kr/playdb/playdbDetail_Content.asp?TabKind=' // eslint-disable-line
                + tapNum + '&PlayNo=' + musicalID;
        const result = await vm.$http.get(`${baseURI}`)
        vm.html = result.data;
        vm.parseDomPlayDBContentsTap(tapNum);
      });
    },
    parseDomPlayDBContentsTap(tapNum) {
      const vm = this;
      const dom = document.createElement('html');
      dom.innerHTML = vm.html;
      /* eslint-disable */
      switch (tapNum) {
        // 시놉시스, 수록곡
        case 2: {
          let isDomExist = dom.querySelector('body > table > tbody > tr:nth-child(4) > td > table > tbody > tr:nth-child(3) > td');
          let tempSynopsis = isDomExist ? isDomExist : '줄거리 정보가 없습니다.';
          let synopsis = (tempSynopsis.innerText !== undefined) && (tempSynopsis.innerText.trim()) ? tempSynopsis.innerHTML : '줄거리 정보가 없습니다.';
          if (synopsis === '줄거리 정보가 없습니다.') {
            isDomExist = dom.querySelector('body > table > tbody > tr:nth-child(2) > td > table > tbody > tr:nth-child(3) > td');
            tempSynopsis = isDomExist ? isDomExist : '줄거리 정보가 없습니다.';
            synopsis = (tempSynopsis.innerText !== undefined) && (tempSynopsis.innerText.trim()) ? tempSynopsis.innerHTML : '줄거리 정보가 없습니다.';
          }
          isDomExist = dom.querySelector('body > table > tbody > tr:nth-child(8) > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td > table > tbody > tr > td > p');
          const music = isDomExist && isDomExist.innerText.trim() !== '' ? isDomExist.innerHTML : '수록곡 정보가 없습니다.';
          vm.musicalInfo.synopsis = synopsis;
          vm.musicalInfo.music = music;
          break;
        }
        // 출연진, 제작사, 제작진
        case 3: {
          let isDomExist = dom.querySelectorAll('body > table > tbody > tr:nth-child(5) > td > table > tbody > tr > td > table > tbody > tr');
          const playersDom = isDomExist ? isDomExist : [];
          playersDom.forEach((tr) => {
            const tds = tr.querySelectorAll('tr[valign="top"] > td');
            const players = Array.prototype.slice.call(tds).map((td) => {
              const isCharacterEl = td.querySelector('b');
              if (isCharacterEl) {
                return isCharacterEl.innerText;
              }
              const isPlayerImg = td.querySelector('img');
              if (isPlayerImg) {
                return isPlayerImg.attributes.src.value;
              }
              return td.innerText;
            });
            let role ='';
            const playerObjs = [];
            let tempObj = {};
            for(let i = 0; i < players.length; i++) {
              if (players[i] === '') {
                continue;
              }
              if (i === 0) {
                role = players[0];
              } else if (i%2 === 1) {
                tempObj = {
                  img: players[i],
                };
              } else {
                tempObj = {
                  ...tempObj,
                  name: players[i],
                };
                if (role.trim() === '') { role = '기타'; }
                playerObjs.push(tempObj);
              }
            }
            vm.musicalInfo.playerList.push({
              character: role,
              players: playerObjs,
            });
          });

          isDomExist = dom.querySelector('body > table > tbody > tr:nth-child(9) > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td:nth-child(2)');
          let makers = isDomExist ? isDomExist.innerText : '제작사 정보가 없습니다.';
          if (makers === '제작사 정보가 없습니다.') {
            isDomExist = dom.querySelector('body > table > tbody > tr:nth-child(7) > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td:nth-child(2)');
            makers = isDomExist ? isDomExist.innerText : '제작사 정보가 없습니다.';
          }
          if (makers === '제작사 정보가 없습니다.') {
            isDomExist = dom.querySelector('body > table > tbody > tr:nth-child(2) > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td:nth-child(2)');
            makers = isDomExist ? isDomExist.innerText : '제작사 정보가 없습니다.';
          }
          vm.musicalInfo.maker = makers;

          isDomExist = dom.querySelectorAll('body > table > tbody > tr:nth-child(7) > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td > table > tbody > tr');
          const makersDom = isDomExist ? isDomExist : [];
          makersDom.forEach((tr) => {
            let isDomExist = tr.querySelector('td > table > tbody > tr > td:nth-child(2)');
            const role = isDomExist ? isDomExist.innerText : '';
            isDomExist = tr.querySelector('td > table > tbody > tr > td:nth-child(3)');
            const members = isDomExist ? isDomExist.innerText : '';
            if (role !== '' && members !== '') {
              vm.musicalInfo.staff.push({ role, members });
            }
          });
          break;
        }
        // 사진
        case 5: {
          // body > table > tbody > tr:nth-child(5) > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > a > img
          // body > table > tbody > tr:nth-child(5) > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td
          const isDomExist = dom.querySelectorAll('body > table > tbody > tr:nth-child(5) > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > a > img');
          const photos = isDomExist ? isDomExist : [];
          photos.forEach((img) => {
            vm.musicalInfo.photos.push(img.attributes.src.value);
          });
          break;
        }
        // 관련 기사
        case 6: {
          let isDomExist = dom.querySelectorAll('body > table > tbody > tr:nth-child(2) > td > table > tbody > tr:nth-child(4) > td > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(2) > table > tbody > tr:nth-child(1) > td');
          const articleDom = isDomExist ? isDomExist : [];
          articleDom.forEach((td) => {
            let isDomExist = td.querySelector('a');
            const title = isDomExist ? isDomExist.innerText : '';
            const templink = isDomExist ? isDomExist.attributes.href.value : '';
            const link = templink.startsWith('http') ? templink : 'http://www.playdb.co.kr' + templink
            isDomExist = td.querySelector('.small');
            const date = isDomExist ? isDomExist.innerText.toString().substring(1, 11): '';
            if (title !== '' && link !== '' && date !== '') {
              vm.musicalInfo.articles.push({
                title,
                link,
                date,
              })
            }
          });
          break;
        }
        default:  break;
      }
      /* eslint-enable */
      dom.remove();
    },
    parseDomPlayDB() {
      const vm = this;
      const dom = document.createElement('html');
      dom.innerHTML = vm.html;
      /* eslint-disable */
      // img
      let isDomExist = dom.querySelector('#wrap > div.pddetail > h2 > img');
      const img = isDomExist ? isDomExist.attributes.src.value : null;

      // musical desc
      isDomExist = dom.querySelector('#wrap > div.pddetail > div.pddetail_info > div.pddetail_subject > table > tbody > tr:nth-child(1) > td > span.title');
      const titleKor = isDomExist ? isDomExist.innerText : '제목 없음';
      isDomExist = dom.querySelector('#wrap > div.pddetail > div.pddetail_info > div.pddetail_subject > table > tbody > tr:nth-child(1) > td > span.entitle');
      const title = isDomExist ? isDomExist.innerText : '';
      isDomExist = dom.querySelector('#wrap > div.pddetail > div.pddetail_info > div.detaillist > table > tbody > tr:nth-child(1) > td:nth-child(2) > a:nth-child(2)');
      const genre = isDomExist ? isDomExist.innerText : '미정';
      isDomExist = dom.querySelector('#wrap > div.pddetail > div.pddetail_info > div.detaillist > table > tbody > tr:nth-child(2) > td:nth-child(2)');
      const start = isDomExist ? isDomExist.innerText.split('~')[0].trim() : '';
      isDomExist = dom.querySelector('#wrap > div.pddetail > div.pddetail_info > div.detaillist > table > tbody > tr:nth-child(2) > td:nth-child(2)');
      const end = isDomExist ? isDomExist.innerText.split('~')[1].trim() : '';
      isDomExist = dom.querySelector('#wrap > div.pddetail > div.pddetail_info > div.detaillist > table > tbody > tr:nth-child(3) > td:nth-child(2) > a');
      const place = isDomExist ? isDomExist.innerText : '미정';
      isDomExist = dom.querySelector('#wrap > div.pddetail > div.pddetail_power > table > tbody > tr > td:nth-child(3) > dl > dd');
      const rate = isDomExist ? isDomExist.innerText / 2 : '0';

      vm.musicalInfo = {
        ...vm.musicalInfo,
        img,
        desc: {
          titleKor,
          title,
          genre,
          start,
          end,
          place,
          rate,
        },
      };
      dom.remove();
      /* eslint-enable */
    },
  },
  mounted() {
    const vm = this;
    const fetchingPage = ['playDB', 'theMusic'];
    const path = vm.$route.path.toString();
    const currentFetcingPage = path.split('/')[2];
    const musicalID = path.split('/')[3];

    if (!fetchingPage.includes(currentFetcingPage)) {
      vm.$router.push('/*');
    }


    const indexFixedMusical = currentFetcingPage + '/' + musicalID; // eslint-disable-line
    // window.console.log(FixedMusicalData[indexFixedMusical]);
    vm.fixedMusical = FixedMusicalData[indexFixedMusical] !== undefined;
    if (vm.fixedMusical) {
      vm.getAdditionalData(indexFixedMusical, FixedMusicalData[indexFixedMusical].type);
    }

    vm.getMusicalInfo(currentFetcingPage, musicalID);
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  width: 100%;
  .musical_main {
    width: 98%;
    margin: 0px 20px;
    padding: 40px;
    // border-radius: 4px;
    min-height: 300px;
    background-color: #FFF;
  }
  .bg-purple {
    background: #DCDFE6;
  }

  .subtitle {
    padding: 20px;
  }
  .subtitle_em {
    font-size: 30pt;
    background-color: #545c64;
    color: #FFF;
    padding: 5px 20px;
  }
  .subtitle_desc {
    font-size: 15pt;
    padding-left: 20px;
    vertical-align: middle;
  }

  .sort_button {
    padding-top: 40px;
    padding-left: 53px;
  }

  .poster {
    height: 300px;
    width: auto;
    border: #b4b4b4a6 solid 3px;
    padding: 10px;
    float: left;
    margin-right: 40px;
  }

  .musical_main_desc {
    padding: 0px 20px;
    li {
      font-size: 1.2em;
      line-height: 2em;
      padding-bottom: 5px;
    }
    .desc_list {
      list-style-type: none;
      .title {
        color: #F56C6C;
        font-weight: bold;
        padding-right: 7px;
        font-size: 1.3em;
      }
      .titleEng {
        color: rgba(245, 108, 108, 0.678);
        font-size: 0.8em;
      }
      .rate {
        padding-bottom: 10px;
      }
      .label {
        padding-right: 40px;
        color: #919191;
      }
      .maker {
        padding-right: 23px;
      }
    }
  }

  .clear {
    clear: left;
  }

  .table_title {
    font-size: 1.2em;
    color: #F56C6C;
    font-weight: bold;
  }
}
</style>