<template>
  <div>
    <h1 class="not-found">Not Found 404</h1>
    <div class="redirect-message">
      <span place="REDIRECT_MESSAGE1">페이지를 찾을 수 없습니다.</span>
      <span place="secondLeft">{{ secondLeft }}</span>
      <span place="REDIRECT_MESSAGE2">초 후에 홈페이지로 이동합니다.</span>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  data() {
    return {
      secondLeft: 5, // 몇 초뒤 이동 되는지를 나타내는 시간
    };
  },
  methods: {
    ...mapMutations('auth', ['updateRedirectionTimeoutId']),
  },
  mounted() {
    const vm = this;

    const redirectionTimeoutId = setTimeout(() => {
      vm.$router.push('/');
    }, 5000);

    vm.updateRedirectionTimeoutId({
      redirectionTimeoutId,
    });

    const intervalId = setInterval(() => {
      vm.secondLeft -= 1;
      if (vm.secondLeft === 0) {
        window.clearInterval(intervalId);
        vm.updateRedirectionTimeoutId({
          redirectionTimeoutId: null,
        });
      }
    }, 1000);
  },
};
</script>

<style scoped>
.not-found {
  text-align: center;
  font-size: 5em
}
.redirect-message {
  text-align: center;
  font-size: 2em
}
</style>