<template>
  <div class="wrapper" ref="wrapper">
    <!-- Contents -->
    <el-row :gutter="10">
      <el-col :offset="4" :span="8">
        <div class="subtitle">
          <span class="subtitle_em">국내 공연장</span>
          <span class="subtitle_desc">국내 공연장 정보</span>
        </div>
      </el-col>
    </el-row>
    <hr/><br/>
    <div class="local_menu">
      <el-row type="flex" justify="center">
        <el-radio-group v-model="currentLocal" @change="change">
          <el-radio-button v-for="item in local" :label="item" :key="item"></el-radio-button>
        </el-radio-group>
      </el-row>
    </div>
    <el-row :gutter="10">
      <el-col :offset="4" :span="15">
        <el-table
          :header-cell-style="headerStyle"
          v-loading="loading"
          :data="posts"
          stripe
          style="width: 100%"
          class="theater_table">
          <el-table-column
            label=""
            width="400">
            <template slot-scope="scope">
              <a :href="scope.row.desc.homeLink">
                <img :src="scope.row.img" @error="imgLoadError" class="placeImg"/>
              </a>
            </template>
          </el-table-column>
          <el-table-column
            label="">
            <template slot-scope="scope">
              <div class="description">
                <div><a :href="scope.row.desc.homeLink"><span class="title">{{scope.row.desc.title}}</span></a></div>
                <br/>
                <span class="label">설립연도</span><span>{{scope.row.desc.year}}</span><br/>
                <span class="label">주소</span><span>{{scope.row.desc.address}}</span><br/>
                <span class="label">객석규모</span><span>{{scope.row.desc.scale}}</span><br/>
                <span class="label">연락처</span><span>{{scope.row.desc.tel}}</span><br/>
                <span class="label">홈페이지</span>
                <span class="year"><a :href="scope.row.desc.homeLink">{{scope.row.desc.home}}</a></span><br/>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <br/>
    <el-row type="flex" justify="center">
      <el-col :span="paginationLength">
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page="getPage"
          background
          layout="prev, pager, next"
          :total="maxPage">
        </el-pagination>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapMutations, mapState, mapGetters } from 'vuex';

export default {
  name: 'Theater',
  components: {
  },
  data() {
    return {
      local: [
        '서울',
        '경기',
        '부산',
        '경북',
        '대구',
        '광주',
        '경남',
        '인천',
        '울산',
        '전북',
        '충남',
        '전남',
        '제주',
        '대전',
        '강원',
      ],
      loading: true,
      html: [],
      posts: [],
      maxPage: 1,
    };
  },
  computed: {
    ...mapState('theater', ['page']),
    ...mapGetters('theater', ['getPage']),
    currentLocal: {
      get() { return this.$store.state.theater.currentLocal; },
      set(currentLocal) {
        const vm = this;
        vm.updateCurrentLocal({ currentLocal });
      },
    },
    paginationLength() {
      const vm = this;
      switch (true) {
        case vm.maxPage > 70: { return 6; }
        case vm.maxPage > 50: { return 5; }
        case vm.maxPage > 30: { return 4; }
        default: { return 3; }
      }
    },
  },
  watch: {
  },
  methods: {
    ...mapMutations('theater', ['updateCurrentLocal', 'updatePage']),
    headerStyle() {
      return 'background-color: #545c64; color: #FFF;';
    },
    imgLoadError(e) {
      e.target.src = require('../../assets/noImageAvailable.png'); // eslint-disable-line
    },
    handleCurrentChange(page) {
      const vm = this;
      vm.updatePage({ page });
      vm.getTableInfo();
    },
    change() {
      const vm = this;
      vm.getTableInfo();
    },
    getTableInfo() {
      const vm = this;
      vm.loading = true;
      // eslint-disable-next-line
      const baseURI = 'http://www.themusical.co.kr/Theater/List?page='
                      + vm.getPage
                      + '&district='
                      + vm.currentLocal;
      window.console.log(baseURI);
      vm.$http.get(`${baseURI}`)
      .then((result) => {
        // window.console.log(result);
        vm.html = result.data;
        vm.parseDom();
        vm.loading = false;
      });
    },
    parseDom() {
      const vm = this;
      const dom = document.createElement('html');
      dom.innerHTML = vm.html;
      /* eslint-disable */
      let isDomExist = dom.querySelectorAll('body > section > div > article > section > ul.theater_list > li');
      vm.posts = isDomExist ? Array.prototype.slice.call(isDomExist).map(li => ({
        img: li.querySelector('p > a > img').attributes.src.value,
        desc: {
          title: li.querySelector('div > dl > dt > a').innerText,
          year : li.querySelector('div > dl > dd:nth-child(2)').innerText.length > 4 ? li.querySelector('div > dl > dd:nth-child(2)').innerText.substring(4).trim().replace(/["]/g, "") : '',
          address: li.querySelector('div > dl > dd:nth-child(3)').innerText.length > 2 ? li.querySelector('div > dl > dd:nth-child(3)').innerText.substring(2).trim().replace(/["]/g, "") : '',
          scale: li.querySelector('div > dl > dd:nth-child(4)').innerText.length > 4 ? li.querySelector('div > dl > dd:nth-child(4)').innerText.substring(4).trim().replace(/["]/g, "") : '',
          tel: li.querySelector('div > dl > dd:nth-child(5)').innerText.length > 3 ? li.querySelector('div > dl > dd:nth-child(5)').innerText.substring(3).trim().replace(/["]/g, "") : '',
          home: li.querySelector('div > dl > dd:nth-child(6) > a').innerText.trim(),
          homeLink: li.querySelector('div > dl > dd:nth-child(6) > a').attributes.href ? li.querySelector('div > dl > dd:nth-child(6) > a').attributes.href.value : '',
        },
      })) : [];
      const maxPageDom = dom.querySelector('body > section > div > article > section > div > ul > li:last-child > a');
      vm.maxPage = maxPageDom ? Number(maxPageDom.attributes.href.value.split('=')[1].split('&')[0]) * 10 : 10;
      /* eslint-enable */
      dom.remove();
    },
  },
  mounted() {
    const vm = this;
    vm.getTableInfo();
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  width: 100%;
  .subtitle {
    padding: 20px;
  }
  .subtitle_em {
    font-size: 30pt;
    background-color: #545c64;
    color: #FFF;
    padding: 5px 20px;
  }
  .subtitle_desc {
    font-size: 15pt;
    padding-left: 20px;
    vertical-align: middle;
  }

  .theater_table {
    margin: 0px 20px;
  }

  .placeImg {
    height: 210px;
    width: 353px;
    border: #DCDFE6 3px solid;
  }

  .description {
    a {
      text-decoration: none;
      cursor: pointer;
      color: #545c64;
    }
    .title {
      font-size: 1.5em;
      color: #F56C6C !important;
      font-weight: bold;
    }
    span {
      font-size: 1.2em;
    }
    .label {
      font-weight: bold;
      display: inline-block;
      width: 100px;
      padding-bottom: 5px;
    }
  }

  .local_menu {
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 20px;
  }
}
</style>