<template>
  <div id="footer_wrapper">
    <img src="../../assets/pulse.png" class="footer_img"/>
    <img src="../../assets/logo.png" class="footer_img right"/>
    <i class="fa fa-copyright" aria-hidden="true"></i>
    <span class="copyright">Copyright 2018, Lee Seung-Bok, Jin So-min all rights reserved.</span>
    <br/><br/>
    <span class="powered">Powered by VueJs, Vuex, Element-ui, webpack, NodeJs, NPM and Fontawesome</span>
    <br/><br/>
    <span class="powered">
      This site used DataBase from
        <a href="http://www.themusical.co.kr/"><b>The Music</b></a> and
        <a href="http://www.playdb.co.kr/"><b>Play DB</b></a>
    </span>
    <br/><br/>
  </div>
</template>


<script>
export default {
  name: 'AppFooter',
};
</script>


<style lang="scss" scoped>
#footer_wrapper {
  padding: 15px 40px;
  .footer_img {
    height: 90px;
    float: left;
    font-size: 0.9em;
    padding-top: 7px;
    padding-right: 20px;
  }
  .right {
    float: right;
  }
  .copyright {
    color: #545c64;
    font-size: 0.9em;
  }
  .powered {
    font-size: 0.9em;
    color: #545c64;
  }
}
</style>
