<template>
  <div id="app_nav_wrapper">
    <el-row type="flex" justify="space-between">
      <el-col :span="19">
        <el-button
          id="navigation_toggle"
          @click="onClick('TOGGLE_NAVIGATION')"
          :disabled="$route.path === '/'">
          <i class="fa fa-bars fa-2x" />
        </el-button>
        <router-link to="/">
          <el-button type="primary" @click="onClick('HOME')">
            <i class="fa fa-home"></i>
          </el-button>
        </router-link>
        <el-input placeholder="검색할 뮤지컬 이름을 입력해주세요." v-model="searchText">
        </el-input>
        <el-button type="primary" @click="onClick('SEARCH', 'GOOGLE')">
          <i class="fa fa-search"></i> Search with <img src="../../assets/google_.png" class="search_google"/>
        </el-button>
        <el-button type="success" @click="onClick('SEARCH', 'NAVER')">
          <i class="fa fa-search"></i> Search with <img src="../../assets/naver.png" class="search_naver"/>
        </el-button>
        <el-button type="danger" @click="onClick('SEARCH', 'YOUTUBE')">
          <i class="fa fa-search"></i> Search with <img src="../../assets/youtube.png" class="search_google"/>
        </el-button>
      </el-col>

      <el-col :span="7">
        <el-row type="flex" justify="end">
          <el-col :span="11">
            <el-button type="primary" @click="onClick('THE_MUSIC')">
              The Music
            </el-button>
            <el-button type="primary" @click="onClick('PLAY_DB')">
              Play DB
            </el-button>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <el-row v-if="$route.path !== '/'">
    <hr/><br/>
      <el-col :offset="9" :span="6">
        <div class="subtitle_wrapper">
          <router-link to="/" class="other_page_title">
            <img src="../../assets/musicaLlogo2.png" class="logo"/>
          </router-link>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<style lang="scss" scoped>
// @import "~@/variables.scss"; // * To use $--color-primary scss variable

.el-input {
  width: 400px; // TODO: Rplace 400px with designed value
}

#navigation_toggle {
  border: 0;
  padding: 6px 10px;
  vertical-align: middle;
  // .fa.fa-bars {
  //   top: 100px;
  // }
}

#app_nav_wrapper {
  padding: 8px 0;
  .search_google {
    padding-left: 4px;
    height: 15px;
    width: auto;
  }
  .search_naver {
    height: 15px;
    width: auto;
  }
  .search_youtube {
    padding-top: 2px;
    height: 15px;
    width: auto;
  }
  .brand_logo {
    height: 30px;
    width: auto;
  }
  .subtitle_wrapper {
    // padding: 20px;
    text-align: center;

    .other_page_title {
      text-decoration: none;
      font-size: 70pt;
      background-color: #FFF;
      color: #000;
    }

    .logo {
      width: auto;
      height: 180px;
    }
  }
}

</style>


<script>
import { mapState, mapMutations } from 'vuex';
import HeaderNav from '../partials/HeaderNav';

export default {
  name: 'AppHeader',
  components: {
    HeaderNav,
  },
  data() {
    return {
      searchText: '',
    };
  },
  computed: {
    ...mapState('layout', ['isNavCollapsed']),
  },
  methods: {
    ...mapMutations('layout', ['updateCollapse']),
    onClick(type, engine) {
      const vm = this;
      switch (type) {
        case 'SEARCH': {
          if (vm.searchText === '') {
            this.$message({
              showClose: true,
              message: '검색할 정보를 입력해주세요.',
              type: 'warning',
            });
          } else {
            /* eslint-disable */
            // const q = encodeURI('뮤지컬 ' + vm.searchText).replace(/[+]/g, '%2B').replace(/[ ]/g, '+');
            const q = '뮤지컬 ' + vm.searchText;
            let url;
            switch(engine) {
              default:
              case 'GOOGLE': {
                url = 'https://www.google.com/search?q=' + q;
                break;
              }
              case 'NAVER': {
                url = 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=' + q;
                break;
              }
              case 'YOUTUBE': {
                url = 'https://www.youtube.com/results?search_query=' + q;
                break;
              }
            }
            /* eslint-enable */
            window.open(url);
          }
          break;
        }
        case 'TOGGLE_NAVIGATION': {
          const isNavCollapsed = !vm.isNavCollapsed;
          vm.updateCollapse({ isNavCollapsed });
          break;
        }
        case 'HOME': {
          vm.$router.push({
            name: 'Home',
          });
          break;
        }
        case 'THE_MUSIC': {
          window.location.href = 'http://www.themusical.co.kr/';
          break;
        }
        case 'PLAY_DB': {
          window.location.href = 'http://www.playdb.co.kr/';
          break;
        }
        default: {
          throw new Error(`not defined type ${type}`);
        }
      }
    },
  },
};
</script>

