<template>
  <div id="app_nav_wrapper">
    <header-nav navMode="vertical"/>
  </div>
</template>

<style lang="scss">
// * handling font awesome icons
#app_nav_wrapper {
  height: 100%;
  .app-nav-menu {
    height: 100%;
    border: 0;
  }
  .el-menu-item.menu, .el-submenu.menu .el-submenu__title {
    padding-left: 15px !important;
  }
  .el-menu-item .fa.el-compatible {
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
  }
  .fa.el-compatible {
    content: "\E638";
    vertical-align: middle;
  }
  .menu span {
    vertical-align: baseline;
    line-height: 18.6667px;
    margin-left: 7px;
  }
  .el-menu-item-group__title {
    display: none;
  }
  .el-menu-item-group .el-menu-item {
    height: 42px;
    line-height: 42px;
  }
}
</style>

<script>
import { mapState } from 'vuex';
import HeaderNav from '../partials/HeaderNav';

export default {
  name: 'AppNavigation',
  components: {
    HeaderNav,
  },
  data() {
    return {
    };
  },
  computed: {
    ...mapState('layout', ['isNavCollapsed']),
  },
  mounted() {
  },
};
</script>
