<template>
  <div class="article_wrapper">
    <el-table
      v-if="articles.length !== 0"
      :cell-style="cellStyle"
      :data="articles"
      style="width: 100%"
      highlight-current-row
      :show-header="false"
      @row-click="onClick"
      stripe>
      <el-table-column
        label="기사 제목"
        width="800">
      <template slot-scope="scope">
        <span>{{ scope.row.title }}</span>
      </template>
      </el-table-column>
      <el-table-column
        label="날짜">
      <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span >{{ scope.row.date }}</span>
      </template>
      </el-table-column>
    </el-table>
    <div v-else>관련 기사 정보가 없습니다.</div>
  </div>
</template>

<script>
export default {
  name: 'Articles',
  props: ['articles'],
  components: {
  },
  data() {
    return {
    };
  },
  computed: {
  },
  watch: {
  },
  methods: {
    cellStyle() {
      return 'cursor: pointer;';
    },
    onClick(row) {
      window.open(row.link);
    },
  },
  mounted() {
  },
};
</script>

<style lang="scss" scoped>
.article_wrapper {
  padding: 20px;
  color: #545c64;
}

</style>