<!-- Toolbar 메뉴 -->
<template>
  <div id="app_nav_wrapper">
    <el-menu
      :default-active="$route.path"
      :mode="navMode"
      @select="handleSelect"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
      class="app-nav-menu">
      <el-menu-item index="/" :class="submenuClass"><i class="fa fa-home fa-lg fa-fw el-compatible"></i> H O M E</el-menu-item>
      <el-submenu index="/element" :class="submenuClass">
        <template slot="title">고전</template>
        <el-menu-item index="/musicalDetail/playDB/4786">오페라의 유령</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/4806">캣츠</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/39317">레미제라블</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/4907">미스사이공</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/328">에비타</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/2773">노트르담 드 파리</el-menu-item>
      </el-submenu>
      <el-submenu index="/element2" :class="submenuClass">
        <template slot="title">드라마</template>
        <el-menu-item index="/musicalDetail/theMusic/1268">맨 오브 라만차</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/3931">맘마미아</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/7628">빌리 엘리어트</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/4068">렌트</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/17135">스토리 오브 마이라이프</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/12565">모차르트</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/25462">넥스트 투 노멀</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/24470">엘리자베스</el-menu-item>
        <el-menu-item index="/musicalDetail/theMusic/164">헤드윅</el-menu-item>
      </el-submenu>
      <el-submenu index="/element3" :class="submenuClass">
        <template slot="title">로맨스 / 멜로</template>
        <el-menu-item index="/musicalDetail/playDB/842">아이다</el-menu-item>
        <el-menu-item index="/musicalDetail/theMusic/442">웨스트 사이드 스토리</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/30576">닥터 지바고</el-menu-item>
      </el-submenu>
      <el-submenu index="/element4" :class="submenuClass">
        <template slot="title">스릴러</template>
        <el-menu-item index="/musicalDetail/playDB/4025">시카고</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/3440">스위니토드</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/3443">쓰릴미</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/36960">레베카</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/15385">몬테 크리스토</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/17262">잭 더 리퍼</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/1589">지킬 앤 하이드</el-menu-item>
      </el-submenu>
      <el-submenu index="/element5" :class="submenuClass">
        <template slot="title">판타지</template>
        <el-menu-item index="/musicalDetail/playDB/52630">위키드</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/46101">지저스 크라이스트 슈퍼스타</el-menu-item>
      </el-submenu>
      <el-submenu index="/element6" :class="submenuClass">
        <template slot="title">창작뮤지컬</template>
        <el-menu-item index="/musicalDetail/theMusic/1030">명성왕후</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/3647">영웅</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/2885">김종욱 찾기</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/35989">번지점프를 하다</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/9163">빨래</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/17635">서편제</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/43188">여신님이 보고계셔</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/4584">젊은 베르테르의 슬픔</el-menu-item>
        <el-menu-item index="/musicalDetail/playDB/3245">형제는 용감했다</el-menu-item>
      </el-submenu>
      <el-menu-item index="/koreanMusical" :class="submenuClass">
        <i class="fa fa-list fa-lg fa-fw el-compatible"></i> 국내 뮤지컬 검색
      </el-menu-item>
      <el-menu-item index="/theater" :class="submenuClass">
        <i class="fa fa-map-marker fa-lg fa-fw el-compatible"></i> 국내 공연장
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
// import { mapState, mapMutations } from 'vuex';

export default {
  components: {
  },
  props: ['navMode'],
  data() {
    return {
      scrap: {
        page: 1,
        order: 'opening',
      },
    };
  },
  computed: {
    // ...mapState('layout', ['toolbarActive']),
    submenuClass() {
      const vm = this;
      return vm.navMode === 'horizontal' ? 'sub-menu-horizontal' : 'sub-menu-vertical';
    },
  },
  watch: {
  },
  methods: {
    // ...mapMutations('layout', ['changeToolbarActive']),
    handleSelect(key) {
      const vm = this;
      vm.$router.push(key);
    },
  },
  mounted() {
  },
};
</script>

<style lang="scss">
#app_nav_wrapper {
  height: 100%;
  .sub-menu-horizontal {
    width: 200px;
    text-align: center;
  }

  .app-nav-menu {
    height: 100%;
    border: 0;
  }

  .sub-menu-vertical {
    width: 100%;
    padding-right: 0px;
    margin-right: 10px;
  }

  .subtitle {
    font-size: 150%;
    font-weight: bold;
  }
}
</style>


