<template>
  <div class="ost_wrapper">
    <div v-html="music" class="contents"></div>
  </div>
</template>

<script>
export default {
  name: 'OST',
  props: ['music'],
  components: {
  },
  data() {
    return {
    };
  },
  computed: {
  },
  watch: {
  },
  methods: {
  },
  mounted() {
  },
};
</script>

<style lang="scss" scoped>
.ost_wrapper {
  .contents {
    padding: 20px;
    line-height: 1.5em;
    color: #545c64;
  }
}
</style>