<template>
  <div class="role_player_wrapper">
    <div v-if="players.length !== 0">
      <template v-for="(item, index) in players">
        <div :key="index" class="character">
          <el-row justify="center">
            <el-col :span="24">
              <h3 class="character_name">{{item.character}}</h3>
            </el-col>
          </el-row>
          <el-row :gutter="isNavCollapsed ? 88 : 46">
            <el-col :span="6" v-for="(player, index) in item.players" :key="index">
              <el-card :body-style="{ padding: '0px'}" shadow="hover" class="card">
                <img :src="player.img" @error="imgLoadError" class="image">
                <div style="padding: 14px;">
                  <div class="player_name">{{player.name}}</div>
                  <!-- <div class="bottom clearfix">
                    <time class="time">{{ currentDate }}</time>
                    <el-button type="text" class="button">Operating button</el-button>
                  </div> -->
                </div>
              </el-card>
            </el-col>
          </el-row>
        </div>
      </template>
    </div>
    <div v-else>출연자 정보가 없습니다.</div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'RolePlayers',
  props: ['players'],
  components: {
  },
  data() {
    return {
    };
  },
  computed: {
    ...mapState('layout', ['isNavCollapsed']),
  },
  watch: {
  },
  methods: {
    imgLoadError(e) {
      e.target.src = require('../../assets/noImageAvailable.png'); // eslint-disable-line
    },
  },
  mounted() {
  },
};
</script>

<style lang="scss" scoped>
.role_player_wrapper {
  padding: 20px;
  color: #545c64;
  .character {
    margin-bottom: 20px;
  }
  .character_name {
    text-align: center;
    background-color: #545c64;
    color: #FFF;
    padding: 10px;
    margin-bottom: 10px;
  }
  .card {
    width: 200px;
    margin-bottom: 20px;
  }
  .player_name {
    text-align: center;
    color: #545c64;
    font-size: 1.2em;
  }
}

.time {
  font-size: 13px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 200px;
  height: auto;
  display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}
</style>