<template>
  <div class="synopsis_wrapper">
    <div v-html="synopsis" class="contents"></div>
  </div>
</template>

<script>
export default {
  name: 'Synopsis',
  props: ['synopsis'],
  components: {
  },
  data() {
    return {
    };
  },
  computed: {
  },
  watch: {
  },
  methods: {
  },
  mounted() {
  },
};
</script>

<style lang="scss" scoped>
.synopsis_wrapper {
  .contents {
    padding: 20px;
    line-height: 1.5em;
    color: #545c64;
  }
}
</style>