<template>
  <div class="grid-content bg-purple">
    <el-table
      :cell-style="cellStyle"
      @row-click="rowClickTicket"
      :header-cell-style="headerStyle"
      :data="ticket"
      style="width: 100%">
      <el-table-column
        label="">
        <template slot-scope="scope">
          <div class="ticket">
            <i class="fa fa-link" />
            <span class="info">{{ scope.row.info }}</span>
          </div>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  components: {
  },
  props: ['title'],
  data() {
    return {
      ticket: [
        { info: '인터파크 티켓' },
        { info: '티켓링크' },
        { info: 'YES24 공연' },
        { info: '티켓몬스터' },
        { info: '위메프' },
      ],
    };
  },
  computed: {
  },
  watch: {
  },
  methods: {
    cellStyle() {
      return 'cursor: pointer;';
    },
    rowClickTicket(row) {
      const vm = this;
      /* eslint-disable */
      // window.console.log(escape(vm.title));
      // window.console.log(encodeURI(vm.title));
      // window.console.log(encodeURIComponent(vm.title));
      switch (row.info) {
        case '인터파크 티켓': {
          let path = 'http://ticket.interpark.com/search/ticket.asp?search=';
          path += escape(vm.title);
          // encode EUR-KR
          window.open(path);
          break;
        }
        case '티켓링크': {
          let path = 'http://www.ticketlink.co.kr/search?query=';
          path += encodeURIComponent(vm.title);
          window.open(path);
          break;
        }
        case 'YES24 공연': {
          let path = 'http://ticket.yes24.com/Pages/Search/SearchList.aspx?SearchText=';
          path += escape(vm.title);
          path += '&SearchType=&Gcode=009_105';
          // encode
          window.open(path);
          break;
        }
        case '위메프':
        case '티켓몬스터': {
          const special = '%`!@#$^&()+|=\\[]{},?/\'';
          const encode = '%25%60%21%40%23%24%5E%26%28%29%2B%7C%3D%5C%5B%5D%7B%7D%2C%3F%2F%27'.replace(/%/g, ' %').substring(1).split(' ');
          let specialMap = {};
          for(let i = 0; i < special.length; i++) {
            specialMap[special.charAt(i)] = encode[i];
          }
          specialMap[' '] = '+';

          let path;
          if (row.info === '위메프') {
            path = 'http://search.wemakeprice.com/search?search_keyword=';
          } else if (row.info === '티켓몬스터') {
            path = 'http://search.ticketmonster.co.kr/search/?keyword=';
          }
          let title = '';
          for(let i = 0; i < vm.title.length; i++) {
            title += specialMap[vm.title.charAt(i)] !== undefined ? specialMap[vm.title.charAt(i)] : vm.title.charAt(i);
            window.console.log(specialMap[vm.title.charAt(i)]);
            window.console.log(vm.title.charAt(i));
          }
          window.console.log(title);
          path += title;
          path += '&thr=ts';
          window.open(path);
          break;
        }
      }
      /* eslint-enable */
    },
    headerStyle() {
      return 'display: none;';
    },
  },
  mounted() {
  },
};
</script>

<style lang="scss" scoped>
.ticket{
  font-size: 1.3em;
  font-weight: bold;
  .icon {
    margin-left: 10px;
  }
  .info {
    padding-left: 10px;
  }
}
</style>
