<template>
  <div class="wrapper">
    <div>
      <el-row>
        <el-col :span="23">
          <ul>
            <template v-for="(item, index) in splitTrivia">
              <li class="trivia" :key="index">
                <span>{{item}}</span>
              </li>
            </template>
          </ul>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Trivia',
  props: ['trivia'],
  components: {
  },
  data() {
    return {
    };
  },
  computed: {
    splitTrivia() {
      const vm = this;
      if (!vm.trivia) { return []; }
      return vm.trivia.split('\n');
    },
  },
  watch: {
  },
  methods: {
  },
  mounted() {
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 10px;
  color: #545c64;
  .trivia {
    margin: 15px 0px;
    line-height: 1.4em;
  }
}

</style>