<template>
  <div class="wrapper">
    <div>
      <el-row type="flex" justify="center">
        <el-col :span="20">
          <video width="90%" height="300" controls class="player" :src="video">
            <!-- <source :src="video" type="video/mp4"> -->
          </video>
        </el-col>
      </el-row>
      <br/><br/>
      <div class="lyricsHeader">
        * 가사 / Lyrics *
      </div>
      <br/>
      <el-row>
        <el-col :span="23">
          <template v-for="(item, index) in splitLyrics">
            <div :key="index">
              <div class="lyrics">{{item}}</div>
              <br v-if="item.trim() === ''" />
            </div>
          </template>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VOD',
  props: ['lyrics', 'video'],
  components: {
  },
  data() {
    return {
    };
  },
  computed: {
    splitLyrics() {
      const vm = this;
      if (!vm.lyrics) { return []; }
      return vm.lyrics.split('\n');
    },
  },
  watch: {
  },
  methods: {
  },
  mounted() {
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 20px;
  color: #545c64;
  .lyrics {
    margin: 5px 0px;
    line-height: 1.4em;
  }
  .player {
    padding: 0px;
    border: #545c64 2px solid;
    box-shadow: 5px 10px #888888;
    background-color: black !important;
  }
  .lyricsHeader {
    font-size: 1.2em;
    font-weight: bold;
  }
}

</style>